body {
    background-color: red;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    background: url("images/airplane.png") no-repeat center;
    background-size: cover;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

form .input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #717171;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 0.95rem;
    outline: none;
}

.input-field:focus {
    border-color: #00bcd4;
}

form .forgot-pass-link {
    display: inline-block;
    margin-top: 13px;
    font-size: 0.95rem;
    color: #00bcd4;
    text-decoration: none;
}

    form .forgot-pass-link:hover {
        text-decoration: underline;
    }

form .login-button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #00bcd4;
    transition: 0.2s ease;
}

    form .login-button:hover {
        background: #0097a7;
    }

.form-content .bottom-link {
    text-align: center;
    margin-top: 20px;
}
