<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.7.2" debug="true"/>
    <authentication mode="None"/>
    <!-- Other settings -->
  </system.web>
  <connectionStrings>
		  <add name="airplane_listConnectionString" connectionString="Server=localhost\SQLEXPRESS;Database=airplane_list;Integrated Security=True;"
			providerName="System.Data.SqlClient" />
	  <add name="FlightBookingDB" connectionString="Server=localhost\SQLEXPRESS;Database=FlightBookingDB;" providerName="System.Data.SqlClient" />
	  <add name="airplane_listConnectionString2" connectionString="Data Source=RITESH\SQLEXPRESS;Initial Catalog=airplane_list;Integrated Security=True;Encrypt=False;"
      providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>