<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.7.2" debug="true"/>
    <authentication mode="None"/>
    <!-- Other settings -->
  </system.web>
  <connectionStrings>
	  <add name="FlightBookingDB" connectionString="Data Source=RITESH\SQLEXPRESS;Initial Catalog=FlightBookingDB;Integrated Security=True;Encrypt=False" />
  </connectionStrings>
</configuration>